
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Newhatch communities blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    /* Add any additional styles here */
  </style>
   <link rel="stylesheet"  href="{%  static  'css/.css'  %}">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">🌐 NEW HATCH TECH 🌐</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="fa fa-home" style="font-size:24px"></i>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutme' %}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mission' %}">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'policy' %}">Policy</a> 
          </li>          
        </ul>
      </div> 
    </div>
  </nav>
  <!-- Add any additional HTML code here -->
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


        <br>
        <div class="category-box">
          <div class="text-center">
            
            <ul class="list-inline">
              <li class="list-inline-item">Categories:</li>
              {% for category in categories %}
                <li class="list-inline-item">
                  <a href="{% url 'category' category_name=category.name %}">{{ category.name }}</a>
                </li>
              {% empty %}
                <li class="list-inline-item">No categories found</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        </div>
        

   
    </div>
  </body>

  </html>

    </main>
  {% block content %}
  {% endblock content %}
</body>
{% include 'nblog/footer.html' %}
</html>



