{% block content %}
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
            <form action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" name="email" />
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <section>
                        <i class='fab fa-whatsapp' style='font-size:20px'> (237)650473572</i><br>
                        <i class="fa fa-envelope" aria-hidden="true"> saahndongransom@gmail.com</i>
                        <div class="social">
                            <ul>
                                <li style="display:inline"><a href="https://web.facebook.com/saah.ransomm"><i class="fab fa-facebook-f "
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                                <li style="display:inline"><a href="https://twitter.com/SaahndongRansom"><i class="fab fa-twitter"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                                <li style="display:inline"><a href="https://github.com/saahndongransom"><i class="fab fa-github"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                                <li style="display:inline"><a href="#"><i class="fab fa-youtube"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                    </section>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="site.html">newhatchtech.com</a>
        </div>
        <!-- Copyright -->
</footer>
{% endblock content %}