{% block content %}
{% load static %}


<link rel="stylesheet"  href="{%  static  'css/nav-item.css'  %}">
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
            <form action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            
                                <input id="email" name="email" type="email" class="form-control" placeholder="Email address"/>
                            
                            <!-- <input type= "email" id="form5Example2" class="form-control" placeholder="Email address " name="email"  />-->  
                            <!--<label class="form-label" for="form5Example2">Email address</label>--> 
                            <br>
                            
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
     
                    <section>
                        
                        <i class="fa fa-envelope" aria-hidden="true" style="font-size: 20px;font-weight: 200;"> saahndongransom@gmail.com</i>
                        <br>
                        <br>
                        <i class='fab fa-whatsapp'aria-hidden="true" style="font-size:20px;font-weight: 200;"> (237)650473572</i>
                        <br>
                        <br>
        
                        <div class="social">
                            <ul>
                                <span><li style="display:inline"><a href="https://web.facebook.com/saah.ransomm"target="_blank"><i class="fab fa-facebook-f "
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li></span>
                                            
                                <li style="display:inline"><a href="https://twitter.com/SaahndongRansom"target="_blank"><i class="fab fa-twitter"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                                            
                                <li style="display:inline"><a href="https://github.com/saahndongransom"target="_blank" ><i class="fab fa-github"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li>
                            
                               <strong> <li style="display:inline"><a href="#"target="_blank"><i class="fab fa-youtube"
                                            style="font-size: 25px;color: whitesmoke;"></i></a></li></strong>
                    </section>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="site.html">newhatchtech.com</a>
        </div>
        <!-- Copyright -->
</footer>
{% endblock content %}