{% load static %}
{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> NEWHATCH tech is a technology start-up that it's primary focus is in transforming our selves from just  being a   piece of creature to be a creator our selves by creating what we really care for because we are the creator in many ways. </p>
      <a href="newhatchtech.html" class="btn btn-danger">Visit Website!</a>
      <a href="https://www.linkedin.com/in/saahndong-ransom-7b3ba41b3/" class="btn btn-secondary">Newhatch -linkedin</a>
    </div>
  </div> 

<div class="image">
  
  <a href="feli.html"><img src="{% static 'images/anna.png' length %}"></a>
</div><!-- end image-->
<!-- writes out the form tag automatically -->

</div>



{% endblock sidebar %}