{% load static %}
{% block sidebar %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet"  href="{%  static  'css/side.css'  %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
    position:-webkit-sticky ;

</style>
<style>  
  .im1{
  margin: auto;
  display: block;
  margin-top: 40px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid #bef4f7;
  }

  </style>
  
  <style>  
    .im11{
    margin: auto;
    display: block;
    margin-top: 40px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 3px solid #bef4f7;
    position: center;
    }
  
  
    </style>
    <style>
      .im11{
        align-items: left;
      }
    </style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> NEWHATCH tech is a technology start-up that it's primary focus is in transforming our selves from just  being a   piece of creature to be a creator our selves by creating what we really care for because we are the creator in many ways. </p>
      <a href="newhatchtech.html" class="btn btn-danger">Visit Website!</a>
      <a href="https://www.linkedin.com/in/saahndong-ransom-7b3ba41b3/" class="btn btn-secondary"target="_blank">Newhatch -linkedin</a>
    </div>
  </div> 

<div class="image">
  
  <a href="feli.html"><img src="{% static 'images/anna.png' length %}"></a>

</div><!-- end image-->

   
<section>
  <body>
   <div>
      <h1>Features posts</h1>
    </div>
  
    <h3 style="color: white;">Natural beauty. which is grateful in Cameroon.</h3>
    <img src="https://images.pexels.com/photos/257840/pexels-photo-257840.jpeg?cs=srgb&dl=agriculture-apple-blur-257840.jpg&fm=jpg" alt="">
    <p style="color:white ;">14th februry, 2023</p>
    <p style="color: white;">One morning,e found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
    <p><a style="color:red ;" href="">Read More</a></p>
    <u><p><a href="">Creative Process and Ways to Enhance Creativity</a></p></u>
    <u><p><a href="">What Is the Inspiration Behind Creativity?</a></p></u>
    <u><p><a href="">my Perspective on Art and it impact</a></p></u>
    <u><p><a href="">The Real Definition of the Word “Creativity”</a></p></u>
    <u><p><a href="">Can Creativity be developed or is an inherent traits?</a></p></u>
    <u><p><a href="">Can Anxiety Fuel Creativity? </a></p></u>
    <u><p><a href="">how to be Creative;3 reliable method that can fail </a></p></u>
    
    <p><hr style="color: red;"></p>
     <div class="layout-container">
      <main>
        Hi there! i am <b>Saahndong Ransom</b> I have published 100+ blog posts on life style, mind, catholic faith, django and other related topics. When I am not writing, I enjoy reading, hiking and listening to podcasts.
      </main>
      <div class="image">
        <img class="im11" src="{% static 'images/ransom.jpeg' length %}">
      </div>
    </div>
     
    </div>
  </body>
  </section>  
  </div> 

</div>



{% endblock sidebar %}